[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/vim-nerdtree-tabs"]
	path = bundle/vim-nerdtree-tabs
	url = https://github.com/jistr/vim-nerdtree-tabs
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vim-startify"]
	path = bundle/vim-startify
	url = https://github.com/mhinz/vim-startify
[submodule "bundle/vim-bracketed-paste"]
	path = bundle/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste
[submodule "bundle/vim-erlang-runtime"]
	path = bundle/vim-erlang-runtime
	url = https://github.com/vim-erlang/vim-erlang-runtime
[submodule "bundle/vim-erlang-compiler"]
	path = bundle/vim-erlang-compiler
	url = https://github.com/vim-erlang/vim-erlang-compiler
[submodule "bundle/vim-erlang-omnicomplete"]
	path = bundle/vim-erlang-omnicomplete
	url = https://github.com/vim-erlang/vim-erlang-omnicomplete
[submodule "bundle/vim-erlang-tags"]
	path = bundle/vim-erlang-tags
	url = https://github.com/vim-erlang/vim-erlang-tags
[submodule "bundle/rust.vim"]
	path = bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/vim-easytags"]
	path = bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = https://github.com/xolox/vim-misc
